body {
  --var-colour-a: #313a42;
  --var-colour-green: #9aad2e;
  --var-colour-c: #f0ae3c;
  --var-colour-d: #df4822;
  --var-colour-e: #8eac9b;
  --var-colour-red: #cc3d3f;
  --var-colour-g: #ec8b1c;
  --var-colour-h: #1b9268;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1400px;
}
body * {
  padding: 0;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

/* necessary or will show nothing */
.leaflet-container {
  min-height: 600px;
}

textarea {
  padding: 10px;
  border-radius: 5px;
}
textarea.ok {
  border: 4px solid var(--var-colour-green);
}
textarea.bad {
  border: 4px solid var(--var-colour-red);
}

footer {
  margin-top: 20px;
  background: #ccc;
  padding: 20px;
  font-size: 0.5rem;
}

header {
  background: #e37933;
  padding: 20px;
}

h3 {
  margin-bottom: 10px;
}

.route-data-explainer ul {
  margin-left: 20px;
  padding-left: 20px;
}

.route-data-explainer li {
  text-align: left;
}
